{% extends 'base.html.twig' %}

{% block title %}EquipmentItem{% endblock %}

{% block body %}
    <h1>EquipmentItem</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ equipment_item.id }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ equipment_item.state.value }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_equipment_item_index') }}">back to list</a>

{% endblock %}
