{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    <h1>Bienvenue sur notre site</h1>
    <ul>
        {% for equipmentType in equipmentTypes %}
            <li>{{ equipmentType.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}